# Ignore all assets
assets/*
!assets/.gitkeep

# Python
__pycache__/
*.py[cod]

# PyInstaller
build/
dist/
*.spec

# App data
settings.json
stats.json

# Virtual environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Environment
.env
.env.*