# Assets
assets/*
!assets/.gitkeep
pomodoro.ico

# App data
settings.json
stats.json

# Python
__pycache__/
*.py[cod]

# PyInstaller
build/
dist/
*.spec

# Virtual environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Environment
.env
.env.*